.pageContainer {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.chatContainer{
    height: 50vw;
    height: 50vh;
    border: 1px solid gray;
}

.chatSentContainer{
    height: 90%;
    width: 100%;
    overflow-y: scroll;
}


.bottomContainer{
    height: 10%;
    width: 100%;
    display: flex;

}

.inputBox{
    width: 70%;
    font-size: 20px; 
}
.sendButton{
    width: 30%;
    height: 100%; 
}

.user{
    font-size: 0.7rem;
}

.chatStyle{
    width: 100%;
    border: solid 1px #EEE; 
    padding: 8px; 
}

.chatSender{
    text-align: right;
 
}


.chatSenderColor{
    background: #218aff;
    color: #fdfdfd;
    border-radius: 20px;
    padding: 8px 15px;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: right;
}

.chatReceiver{
    width: fit-content;
}


.chatSenderWidth{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.chatReceiverColor{
    background: #d8d8d8;
    border-radius: 20px;
    padding: 8px 15px;
    margin-top: 5px;
    margin-bottom: 5px;
}

